body{
	background-color: #225B58;
}

#media img{
	width: 50%;
	height: auto;
	color: red;
	display: block;
	text-align: center;
}
#media {
	display: block;
	text-align: center;
}

#pic img{width:70%;
height: auto;
text-align: center;}

h1 {
  color: red;
}
.by{color: gray;}

.Improve{color: blue;}